.help.recto {
    background-image: url(../img/help-recto.svg);
    background-repeat: no-repeat;
}

.help.verso {
    background-image: url(../img/help-verso.svg);
    background-repeat: no-repeat;
}

.recto .copy {
    background-image: -moz-element(#recto);
}

.verso .copy {
    background-image: -moz-element(#verso);
}
