/* Cricut calibration marks 
   the html doc contains 4 divs which have each
   2 borders sets using the attributes*/
   .mark {
    position: absolute;
    width: 25.4mm;
    height: 25.4mm;
}

.m-top {
    top: 14.8mm;
    border-top: 1.5mm solid black;
}

.m-left {
    left: 14.8mm;
    border-left: 1.5mm solid black;
}

.m-right {
    right: 23.8mm;
    border-right: 1.5mm solid black;
}

.m-bottom {
    bottom: 50.8mm;
    border-bottom: 1.5mm solid black;
}

/* Safe pattern marks to avoid confict with bottom left/right cards */
.safe .m-bottom {
    bottom: 33.7mm;
    border-bottom: 1.5mm solid black;
}


/* Cameo calibration marks */

.cameo .mark {
    position: absolute;
    width: 20.3mm;
    height: 20.3mm;
}

.cameo .m-top {
    top: 15.6mm;
    border-top: 0.5mm solid black;
}

.cameo .m-left {
    left: 15.6mm;
    border-left: 0.5mm solid black;
}

.cameo .m-right {
    right: 15.6mm;
    border-right: 0.5mm solid black;
}

.cameo .m-bottom {
    bottom: 15.6mm;
    border-bottom: 0.5mm solid black;
}

.cameo .m-top.m-left {
    background-color: black;
    width: 5.5mm;
    height: 5.5mm;
}

.cameo .m-bottom.m-right {
    display: none;
}

.align-mark {
    position: absolute;
    width: 8mm;
    height: 8mm;
    --dist-top: 13mm;
    --dist-bottom: 15mm;
    background-image: url("../img/align-mark.svg");
    background-size: cover;
}

.recto .align-mark.am-top {
    top: var(--dist-top);
}


.verso .align-mark.am-top {
    top: calc(var(--dist-top) + var(--verso-offset-y));
}

.recto .align-mark.am-bottom {
    bottom: var(--dist-bottom);
}


.verso .align-mark.am-bottom {
    bottom: calc(var(--dist-bottom) - var(--verso-offset-y));
}

.recto .align-mark {
    left: calc(50% - 4mm);
}

.verso .align-mark {
    left: calc(50% - 4mm + var(--verso-offset-x));
}