
.recto.soutien {
    background-image: url(../img/illustrations/soutien.svg), url(../img/illustrations/soutien.webp);
    background-size:  contain,cover;
    background-position: top, bottom;
    background-repeat: no-repeat;
}

.verso.soutien {
    background-image: url(../img/intervention.svg);
    background-size: cover;
}

.recto.attention {
    background-image: url(../img/illustrations/attention.svg), url(../img/illustrations/attention.webp);
    background-size: contain, cover;
    background-position: top, bottom;
    background-repeat: no-repeat;
}

.verso.attention {
    background-image: url(../img/intervention.svg);
    background-size: cover;
}

#page-1 .copy {
    background-image: -moz-element(#soutien);
}

#page-3 .copy {
    background-image: -moz-element(#attention);
}


.verso .copy {
    background-image: -moz-element(#verso);
}
