@import url("a3.css");
@import url("fonts.css");
@import url("printers.css");

@import url("crop-marks.css");

:root {


    /* Font definitions */
    --default-font: "FuturaPT";
    --title-font: "Mundial";

    /* Color definitions for cards */
    --blue: #3A88A1;
    --red-rgb: 233, 45, 60;
    --red: rgb(var(--red-rgb));
    --green-rgb: 71, 156, 106;
    --green: rgb(var(--green-rgb));
    --yellow-rgb: 247, 179, 22; /* #F7B316 */
    --yellow: rgb(var(--yellow-rgb));
    --purple: #2C2852;

    /* medium font weight for futura */
    --medium: 500;

    --verso-offset-y: 0mm /*0.5mm*/;
    --verso-offset-x: 0mm /*0.5mm*/;
}



.token {
    position: absolute;
    width: 26.3mm;
    height: 26.3mm;
    background-size: contain;
}

@media screen,
pagedjs-ignore {

    .token::after {
        content: '';

        position: absolute;
    
        /* is precisely of card size */
        width: 24.3mm;
        height: 24.3mm;
        
        /* is offset of bleed size */
        left: 1mm;
        top: 1mm;

        /* the actual border */
        border: 0.1mm solid gray;
        border-radius: 100%;

        /* the element is in front to be visible 
           but doesn't intercept mouse events
           to make inspection of the other parts of the 
           card easier */
        z-index: 0; 
        pointer-events: none;
    }
}

.recto .c1 { left: 21.1mm }
.recto .c2 { left: 44mm }
.recto .c3 { left: 66.9mm }
.recto .c4 { left: 89.8mm }
.recto .c5 { left: 112.7mm }
.recto .c6 { left: 135.6mm }
.recto .c7 { left: 158.5mm }
.recto .c8 { left: 181.4mm }
.recto .c9 { left: 204.3mm }
.recto .c10 { left: 227.2mm }
.recto .c11 { left: 250.1mm }

.verso .c1 { right: calc(21.1mm - var(--verso-offset-x)); }
.verso .c2 { right: calc(44mm - var(--verso-offset-x)); }
.verso .c3 { right: calc(66.9mm - var(--verso-offset-x)); }
.verso .c4 { right: calc(89.8mm - var(--verso-offset-x)); }
.verso .c5 { right: calc(112.7mm - var(--verso-offset-x)); }
.verso .c6 { right: calc(135.6mm - var(--verso-offset-x)); }
.verso .c7 { right: calc(158.5mm - var(--verso-offset-x)); }
.verso .c8 { right: calc(181.4mm - var(--verso-offset-x)); }
.verso .c9 { right: calc(204.3mm - var(--verso-offset-x)); }
.verso .c10 { right: calc(227.2mm - var(--verso-offset-x)); }
.verso .c11 { right: calc(250.1mm - var(--verso-offset-x)); }

.recto .r1 { top: 38.9mm; }
.recto .r2 { top: 65.2mm; }
.recto .r3 { top: 91.4mm; }
.recto .r4 { top: 117.7mm; }
.recto .r5 { top: 144.0mm; }
.recto .r6 { top: 170.2mm; }
.recto .r7 { top: 196.5mm; }
.recto .r8 { top: 222.8mm; }
.recto .r9 { top: 249.0mm; }
.recto .r10 { top: 275.3mm; }
.recto .r11 { top: 301.5mm; }
.recto .r12 { top: 327.8mm; }
.recto .r13 { top: 354.1mm; }

.verso .r1 { top: calc(38.9mm + var(--verso-offset-y)); }
.verso .r2 { top: calc(65.2mm + var(--verso-offset-y)); }
.verso .r3 { top: calc(91.4mm + var(--verso-offset-y)); }
.verso .r4 { top: calc(117.7mm + var(--verso-offset-y)); }
.verso .r5 { top: calc(144.0mm + var(--verso-offset-y)); }
.verso .r6 { top: calc(170.2mm + var(--verso-offset-y)); }
.verso .r7 { top: calc(196.5mm + var(--verso-offset-y)); }
.verso .r8 { top: calc(222.8mm + var(--verso-offset-y)); }
.verso .r9 { top: calc(249.0mm + var(--verso-offset-y)); }
.verso .r10 { top: calc(275.3mm + var(--verso-offset-y)); }
.verso .r11 { top: calc(301.5mm + var(--verso-offset-y)); }
.verso .r12 { top: calc(327.8mm + var(--verso-offset-y)); }
.verso .r13 { top: calc(354.1mm + var(--verso-offset-y)); }

.recto .r1.a { top: 25.7mm}
.recto .r2.a { top: 52.0mm}
.recto .r3.a { top: 78.2mm}
.recto .r4.a { top: 104.5mm}
.recto .r5.a { top: 130.8mm}
.recto .r6.a { top: 157.0mm}
.recto .r7.a { top: 183.3mm}
.recto .r8.a { top: 209.6mm}
.recto .r9.a { top: 235.8mm}
.recto .r10.a { top: 262.1mm}
.recto .r11.a { top: 288.3mm}
.recto .r12.a { top: 314.6mm}
.recto .r13.a { top: 340.9mm}
.recto .r14.a { top: 367.2mm}

.verso .r1.a { top: calc(25.7mm + var(--verso-offset-x)); }
.verso .r2.a { top: calc(52.0mm + var(--verso-offset-x)); }
.verso .r3.a { top: calc(78.2mm + var(--verso-offset-x)); }
.verso .r4.a { top: calc(104.5mm + var(--verso-offset-x)); }
.verso .r5.a { top: calc(130.8mm + var(--verso-offset-x)); }
.verso .r6.a { top: calc(157.0mm + var(--verso-offset-x)); }
.verso .r7.a { top: calc(183.3mm + var(--verso-offset-x)); }
.verso .r8.a { top: calc(209.6mm + var(--verso-offset-x)); }
.verso .r9.a { top: calc(235.8mm + var(--verso-offset-x)); }
.verso .r10.a { top: calc(262.1mm + var(--verso-offset-x)); }
.verso .r11.a { top: calc(288.3mm + var(--verso-offset-x)); }
.verso .r12.a { top: calc(314.6mm + var(--verso-offset-x)); }
.verso .r13.a { top: calc(340.9mm + var(--verso-offset-x)); }
.verso .r14.a { top: calc(367.2mm + var(--verso-offset-x)); }

.recto .onepoint {
    background-image: url("../img/tokens/1p.webp");
}
.verso .onepoint {
    background-image: url("../img/tokens/1p-verso.svg");
}



.recto .fivepoints {
    background-image: url("../img/tokens/5p.webp");
}
.verso .fivepoints {
    background-image: url("../img/tokens/5p-verso.svg");
}


.recto .skills,
.verso .skills
{
    background-image: url("../img/tokens/skills.webp");
}


.recto .gender {
    background-image: url("../img/tokens/gender.webp");
}
.recto .social-class {
    background-image: url("../img/tokens/social-class.webp");
}
.recto .handicap {
    background-image: url("../img/tokens/handicap.webp");
}
.recto .color {
    background-image: url("../img/tokens/color.webp");
}
.recto .orientation {
    background-image: url("../img/tokens/orientation.webp");
}

.verso .gender,
.verso .social-class,
.verso .handicap,
.verso .color,
.verso .orientation {
    background-image: url("../img/tokens/discrimination.svg");
}

.sympathizer {
    background-image: url("../img/tokens/sympathizer.webp");
}